@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oregano:ital@0;1&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Squada+One&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #4c7b8b;
  --primary-color2: #23486a;
  --secondary-color: #efb036;
  --accent-color: #3b6790;
}

body {
  background-color: var(--primary-color);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 700px;
  max-width: 100%;
  height: 200px;
  background-color: var(--primary-color2);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgb(0, 0, 0);
  text-align: center;
  font-size: 25px;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.btns {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.btn{
  padding: 10px 24px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--primary-color2);
  color: #fff;
  font-size: 18px;
  box-shadow: 5px 5px rgb(0, 0, 0) ;
  cursor: pointer;
}


.icon-btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--accent-color);
  color: #fff;
  border: 2px solid var(--secondary-color);
  cursor: pointer;
}

.icon-btn:hover{
  background-color: var(--secondary-color);
}

.loading {
  display: flex;
  align-items: end;
  gap: 5px;
  line-height: 22px;
}

.loading span{
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transform: translateY(0);
  animation: jump 1s 0s infinite alternate ease-in-out ;
}

.loading span:nth-of-type(2){
  animation-delay: 0.3s;
}
.loading span:nth-of-type(3){
  animation-delay: 0.6s;
}
.loading span:nth-of-type(4){
  animation-delay: 0.9s;
}

@keyframes jump {
  from{
    transform: translateY(-20px);
  }
  to{
    transform: translateY(0);
  }
}