.container {
  max-width: 700px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  margin: 20px 0;
  font-weight: 500;
}

.game-section {
  display: flex;
  justify-content: space-between;
}

.hr {
  margin: 0 10px;
  width: 5px;
  background-color: rebeccapurple;
  border-radius: 50px;
}

.card {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

aside {
  text-align: left;
  margin-bottom: 10px;
}

.showBox {
  width: 120px;
  height: 120px;
  border: 2px dashed var(--primary);
  margin: 20px auto;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}

.choose-section {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.choose-section .btn {
  border: none;
  background-color: transparent;
  outline: none;
  text-align: center;
  cursor: pointer;
}

.choose-section .box {
  width: 60px;
  height: 60px;
  border: 2px solid var(--secondary);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: var(--primary);
}

.choose-section .box.unactive {
  background-color: var(--secondary);
  color: var(--accent);
}

.choose-section .box.active {
  background-color: var(--primary);
  color: var(--secondary);
  border-color: var(--primary);
}

.choose-section .box.hover:hover {
  background-color: var(--primary);
  color: var(--secondary);
  border-color: var(--primary);
}

.choose-section .btn span {
  display: block;
  font-size: 16px;
  margin-top: 4px;
  color: var(--text);
  text-transform: capitalize;
}

.msg-box {
  max-width: 300px;
  height: 37px;
  margin: 20px auto;
  background-color: var(--secondary);
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  font-size: 18px;
  visibility: hidden;
}
.msg-box.player {
  color: green;
  visibility: visible;
}
.msg-box.computer,.msg-box.draw {
  color: red;
  visibility: visible;
}

.btns {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.btns .btn {
  border: none;
  padding: 5px 40px;
  font-size: 18px;
  border-radius: 5px;
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--primary);
}

.btns .reset {
  background-color: transparent;
  color: var(--primary);
}

.btns .reset:hover {
  color: #fff;
  background-color: var(--primary);
}
